{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Panel | {{ block.super }}{% endblock %}

{% block main %}
<div class="container-fluid text-center mt-5">
  <p class="h1">All Orders</p>
  {% if not order_items_list %}
  <p class="fw-medium my-4">No orders yet, lets work on the promotion.</p>
  <div>
    {% else %}
    {% for dic_item in order_items_list %}
    <div class="row mt-5 product-row-orders">
      <div class="col cart-img-orders">
        <img src="{% static '' %}homesite\{{ dic_item.name }}_0.jpeg" alt="Powder Blue" loading="lazy" width="120px"
          height="160px" class="cart-img-orders">
      </div>
      <div class="col product-details-orders">
        <span class="checkout-text-orders">{{ dic_item.name }}</span><br>
        <span class="checkout-text-orders">Size: {{ dic_item.size }}</span><br>
        <span class="checkout-text-orders">Quantity: {{ dic_item.quantity }}</span><br>
        <span class="checkout-text-orders">Price: {{ dic_item.discounted_price }}</span>
      </div>
    </div>
    <hr class="hr mt-5">
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="container text-center mt-4">
  {% if page_number > 1 %}
  
    <button type="button" class="page-btn btn btn-dark"><a href="?page={{ page_number|add:-1 }}"><span class="page-text">Previous</span></a></button>
  {% else %}
  <button class="page-btn btn btn-outline-dark" disabled>Previous</button>
  {% endif %}
  <span class="my-3 mx-3">{{ page_number }} of {{ total_pages }}</span>
  {% if page_number < total_pages %}
  
    <button type="button" class="page-btn btn btn-dark"><a href="?page={{ page_number|add:1 }}"><span class="page-text">Next</span></a></button>
  {% else %}
  <button class="page-btn btn btn-outline-dark" disabled>Next</button>
  {% endif %}
</div>
{% endblock %}